<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Nova Quest</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="confirm()">
        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input
        [(ngModel)]="questData.nome"
        label="Título da Quest"
        labelPlacement="floating"
        placeholder="Ex: Ler 10 páginas"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="questData.anotacao"
        label="Notas"
        labelPlacement="floating"
        placeholder="Detalhes da sua missão..."
      ></ion-input>
    </ion-item>

    <ion-item> 
      <ion-select
        [(ngModel)]="questData.icone"
        label="Ícone"
        interface="popover"
      >
        <ion-select-option value="water-outline">Água</ion-select-option>
        <ion-select-option value="balloon-outline">Comemoração</ion-select-option>
        <ion-select-option value="storefront-outline">Compras</ion-select-option>
        <ion-select-option value="alarm-outline">Despertar</ion-select-option>
        <ion-select-option value="beer-outline">Entretenimento</ion-select-option>
        <ion-select-option value="library-outline">Estudar</ion-select-option>
        <ion-select-option value="bicycle-outline">Exercícios</ion-select-option>
        <ion-select-option value="book-outline">Leitura</ion-select-option>
        <ion-select-option value="calendar-outline">Lembrete</ion-select-option>
        <ion-select-option value="leaf-outline">Limpeza</ion-select-option>
        <ion-select-option value="paw-outline">Pet</ion-select-option>
        <ion-select-option value="restaurant-outline">Refeição</ion-select-option>
        <ion-select-option value="medkit-outline">Remédio</ion-select-option>
        <ion-select-option value="laptop-outline">Trabalhar</ion-select-option>
        <ion-select-option value="airplane-outline">Viagens</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>