<ion-header>
  <ion-toolbar color="medium">
    <ion-title class="ion-text-center">Hero's Path</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <h1 class="ion-text-center">Bem-vindo Herói!</h1>
    <p class="ion-text-center">Faça login para iniciar sua jornada.</p>

    <ion-item>
      <ion-input label="Email" labelPlacement="floating" type="email" placeholder="Precisamos do seu@email.com"></ion-input>
    </ion-item>

    <ion-item>
         <ion-input label="Senha" labelPlacement="floating" type="password" placeholder="Vamos garantir a segurança da sua jornada"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top">
      Entrar
    </ion-button>

    <ion-button expand="block" fill="clear" color="primary">
      Criar uma conta
    </ion-button>

    <div class="ion-text-center ion-margin-top">
      <p> ou entre com</p>
      <ion-button fill="outline">
        <ion-icon name="logo-google" slot="start" ></ion-icon>
        Google
      </ion-button> 
    </div>
  </div>
</ion-content>
