<ion-router-outlet></ion-router-outlet>

<div class="custom-tab-bar">
  
  <ion-button fill="clear" class="tab-button" routerLink="/tabs/perfil" routerLinkActive="active-link">
    <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
  </ion-button>

  <ion-button id="quest-button" routerLink="/tabs/dashboard">
    <ion-icon slot="icon-only" name="earth-outline"></ion-icon>
  </ion-button>
  
  <ion-button fill="clear" class="tab-button" routerLink="/tabs/statitics" routerLinkActive="active-link">
    <ion-icon slot="icon-only" name="footsteps-outline"></ion-icon>
  </ion-button>

</div>